<script>
function addPlayer(){
	$('#players').append(
		"<div class=\"col-sm-3 player-wrap\"><div class=\"player-in\"><h4>Player " + ($('.player').length+1) + "</h4><input class=\"form-control player\" type=\"text\" id=\"player-" + $('.player').length+ "\"><\/div><\/div>"
		);

};

function removePlayer(){

	if($('.player-wrap').length > 1){
		$('.player-wrap:last').remove();
	}
};


function compare(cat){

	var player_arr = [];

	var player_nodes = $('.player');

	for(var i = 0; i < player_nodes.length; i++){
		player_arr.push($('#player-'+ i).val());
	}


	$.ajax({
		             type: 'POST',
		             beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		             url: 'json_seasons_arr',
		             data: {
		                "players": player_arr,
		                "stat": cat
		             },
		             success:function(data) {
		             	console.log(data);
		             	new Chartkick.LineChart("chart-1", data);

		             	for(var i = 0; i< data.length; i++){
		             		$('#player-'+ i).val(data[i]['name']);
		             	}
	             	
		             },
		             err:function(err1) {
		              console.log(err);
		             }
		        });
      };

  function changeChart(){
  	 var stat = $('#graph-stat-1').val();
  	 compare(stat);
  };
  function loadPlayers(){
	compare('total_points');
  };

  $(window).ready(function(){
  	$('#player-0').val("Tom Brady");
  	$('#player-1').val("Peyton Manning");
  	changeChart();
  });
</script>







	<div id="chart-1"></div>


		<div id="actions" class="col-sm-12">
		<a id="compare" onclick="changeChart()" class="btn btn-primary btn-md left">Compare</a>
		
		<select name="chart-select" class="form-control" id="graph-stat-1" onchange="changeChart()"> 
		    <option value="total_points"><%=@stat_legend['total_points']%></option>
		    <% @graphable.each do |stat| %>
		    <option value="<%=stat%>"><%=@stat_legend[stat]%></option>
		    <% end %>
		 </select>
	</div>

	<div id="actions" class="col-sm-12">
				<a id="compare-add"onclick="addPlayer()" class="btn btn-success btn-md left">Add Player</a>
		<a id="compare-remove"onclick="removePlayer()" class="btn btn-danger btn-md left">Remove Player</a>
	</div>





	<div id='players'>

		<div class="col-sm-3 player-wrap">
			<div class="player-in">
				<h4 class='player-text'>Player 1</h4><input class="form-control tf-200 player" type="text" id="player-0">
			</div>
		</div>

		<div class="col-sm-3 player-wrap">
			<div class="player-in">
				<h4 class='player-text'>Player 2</h4><input class="form-control tf-200 player" type="text" id="player-1">
			</div>
		</div>

	</div>







