<script>
function addPlayer(){
	$('#players').append(
		"<span class=\'player-text\'>Player "+ ($('.player').length+1) +"<\/span><input class=\"form-control tf-200 player\" type=\"text\" id=\"player-" + $('.player').length+ "\">"
		);

};


function compare(cat){

	var player_arr = [];

	var player_nodes = $('.player');

	for(var i = 0; i < player_nodes.length; i++){
		player_arr.push($('#player-'+ i).val());
	}


	$.ajax({
		             type: 'POST',
		             beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		             url: 'json_seasons_arr',
		             data: {
		                "players": player_arr,
		                "stat": cat
		             },
		             success:function(data) {
		             	console.log(data);
		             	new Chartkick.LineChart("chart-1", data);

		             	for(var i = 0; i< data.length; i++){
		             		$('#player-'+ i).val(data[i]['name']);
		             	}
	             	
		             },
		             err:function(err1) {
		              console.log(err);
		             }
		        });







	// var p1Input = $('#player-1').val();
	// var p2Input = $('#player-2').val();


      //   $.ajax({
      //        type: 'POST',
      //        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      //        url: 'json_seasons',
      //        data: {
      //           "player_name": p1Input
      //        },
      //        success:function(player1) {
      //        	console.log(player1['seasons']);

      //        	var data1 = {};
      //        	for(var i = 0; i<player1['seasons'].length; i++){
      //        		data1[player1['seasons'][i]["year"]] = player1['seasons'][i][cat];
      //        	}

      //        	$.ajax({
		    //          type: 'POST',
		    //          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		    //          url: 'json_seasons',
		    //          data: {
		    //             "player_name": p2Input
		    //          },
		    //          success:function(player2) {

		    //          	var data2 = {};
		    //          	for(var i = 0; i<player2['seasons'].length; i++){
		    //          		data2[player2['seasons'][i]["year"]] = player2['seasons'][i][cat];
		    //          	}

		    //          	$('#player-1').val(player1['name']);
		    //          	$('#player-2').val(player2['name']);

						// new Chartkick.LineChart("chart-1",[ {
				  //           "name": player1['name'],
				  //           "data": data1
				  //           },
				  //           {
				  //             "name": player2['name'],
				  //             "data": data2
				  //           }
				  //       ]);	
				  //       $('#graph-stat-1').val(cat);
	             	
		    //          },
		    //          err:function(err1) {
		    //           console.log(err);
		    //          }
		    //     });
      //        },
      //        err:function(err) {
      //         console.log(err);
      //        }
      //   });
      };

  function changeChart(){
  	 var stat = $('#graph-stat-1').val();
  	 compare(stat);
  };
  function loadPlayers(){
	compare('total_points');
  };
</script>



<div style="width:100%;">
	<div id='players'>
		<span class='player-text'>Player 1</span><input class="form-control tf-200 player" type="text" id="player-0">
		<span class='player-text'>Player 2</span><input class="form-control tf-200 player" type="text" id="player-1">
	</div>
	<a onclick="addPlayer()" class="btn btn-primary btn-md">+</a>
	<a onclick="changeChart()" class="btn btn-primary btn-md">Compare</a>
</div>

  <select name="chart-select" class="form-control" id="graph-stat-1" onchange="changeChart()"> 
    <option value="total_points"><%=@stat_legend['total_points']%></option>
    <% @graphable.each do |stat| %>
    <option value="<%=stat%>"><%=@stat_legend[stat]%></option>
    <% end %>
  </select>




<div id="chart-1"></div>