#graph-stat-1{
	width:175px;
	float:left;
	margin-right:20px;
}

#graph-stat-2{
	width:175px;
	float:left;
}

#and{
	float:left;
	margin-right:20px;
	font-weight: bold;
    text-align: center;
    padding-top: 4px;
    font-size: 14pt;
}
#standardized-message{
	float:left;
	width:100%;
	display:none;
}